{% extends 'comunicados/base.html'%}
    {%block content%}
    <form method="POST" action={% url "comunicados:index" %}>
        {% csrf_token %}
        <label for="categoria">Filtrar por categoría</label>
        <select name="categoria" id="categoria">
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre}}</option>
            {% endfor %}
        </select>
        <label for="nivel">Filtrar por nivel</label>
        <select name="nivel" id="nivel">
            {% for niveles in nivel %}
                <option value="{{niveles.0}}">{{niveles.0}} - {{niveles.1}}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    <h1>Comunicados</h1>
    {%if comunicados_exists %}
    {% for comunicado in comunicados%}
    <div id=comunicado>
        <hr>
        <h2>{{ comunicado.titulo }} </h2>
        <hr>
        <p>{{ comunicado.detalle }} </p>
       <p>Nivel: {{ comunicado.nivel }}</p>
       <p>Categoría: {{ comunicado.categoria.nombre }}</p>
       <p>Fecha de envío: {{ comunicado.fecha_envio }}</p>
       <p>Fecha de la última modificación: {{ comunicado.fecha_ultima_modificación }}</p>
       <p>Publicado por: {{ comunicado.publicado_por }}</p>
       <hr>
    </div>
    {% endfor %}
    {% else %}
    <center>
    <h2>No hay comunicados.<h2>
    </center>
    {% endif %}
    {% endblock %}